'.source.sfz':
  editor:
    commentStart: '// '
  "bracket-matcher":
    autocompleteCharacters: [
      "<>"
    ]
  autocomplete:
    symbols:
      header:
        selector: '.section.header'
        suggestions: [
          'global'
          'master'
          'group'
          'region'
          'control'
          'curve'
          'effect'
        ]
      variable:
        selector: '.opcode'
        suggestions: [
          ## SFZ 1
          # Main
          'sample'
          # Input controls
          'lochan'
          'hichan'
          'key'
          'lokey'
          'hikey'
          'lovel'
          'hivel'
          'loccX'
          'hiccX'
          'lobend'
          'hibend'
          'lobpm'
          'hibpm'
          'lochanaft'
          'hichanaft'
          'lopolyaft'
          'hipolyaft'
          'lorand'
          'hirand'
          'seq_length'
          'seq_position'
          'sw_lokey'
          'sw_hikey'
          'sw_last'
          'sw_down'
          'sw_up'
          'sw_previous'
          'sw_vel'
          'trigger'
          'group'
          'off_by'
          'off_mode'
          'on_loccX'
          'on_hiccX'
          # Performance Parameters “Sample Player”
          'delay'
          'delay_random'
          'delay_ccX'
          'offset'
          'offset_random'
          'offset_cc'
          'end'
          'count'
          'loopmode'
          'loop_mode'
          'loopstart'
          'loop_start'
          'loop_end'
          'loopend'
          'sync_beats'
          'sync_offset'
          # Performance Parameters “Amplifier”
          'volume'
          'pan'
          'width'
          'position'
          'amp_keytrack'
          'amp_keycenter'
          'amp_veltrack'
          'amp_velcurve_N'
          'amp_random'
          'rt_decay'
          'output'
          'gain_ccX'
          'xfin_lokey'
          'xfin_hikey'
          'xfout_lokey'
          'xfout_hikey'
          'xf_keycurve'
          'xfin_lovel'
          'xfin_hivel'
          'xfout_lovel'
          'xfout_hivel'
          'xf_velcurve'
          'xfin_loccX'
          'xfin_hiccX'
          'xfout_loccX'
          'xfout_hiccX'
          'xf_cccurve'
          # Performance Parameters “Amplifier EG”
          'ampeg_delay'
          'ampeg_delay_oncc'
          'ampeg_start'
          'ampeg_attack'
          'ampeg_attack_oncc'
          'ampeg_hold'
          'ampeg_hold_oncc'
          'ampeg_decay'
          'ampeg_decay_oncc'
          'ampeg_sustain'
          'ampeg_sustain_oncc'
          'ampeg_release'
          'ampeg_release_oncc'
          'ampeg_vel2delay'
          'ampeg_vel2attack'
          'ampeg_vel2hold'
          'ampeg_vel2decay'
          'ampeg_vel2sustain'
          'ampeg_vel2release'
          # Performance Parameters “Amplifier LFO”
          'amplfo_delay'
          'amplfo_fade'
          'amplfo_freq'
          'amplfo_depth'
          'amplfo_depthccX'
          'amplfo_depthchanaft'
          'amplfo_depthpolyaft'
          'amplfo_freqccX'
          'amplfo_freqchanaft'
          'amplfo_depthchanaft'
          # Performance Parameters “Pitch”
          'transpose'
          'tune'
          'pitch_keycenter'
          'pitch_keytrack'
          'pitch_veltrack'
          'pitch_random'
          'bendup'
          'bend_up'
          'benddown'
          'bend_down'
          'bendstep'
          'bend_step'
          # Performance Parameters “Pitch EG”
          'pitcheg_delay'
          'pitcheg_start'
          'pitcheg_attack'
          'pitcheg_hold'
          'pitcheg_decay'
          'pitcheg_sustain'
          'pitcheg_release'
          'pitcheg_depth'
          'pitcheg_vel2delay'
          'pitcheg_vel2attack'
          'pitcheg_vel2hold'
          'pitcheg_vel2decay'
          'pitcheg_vel2release'
          'pitcheg_vel2depth'
          # Performance Parameters “Pitch LFO”
          'pitchlfo_delay'
          'pitchlfo_fade'
          'pitchlfo_freq'
          'pitchlfo_depth'
          'pitchlfo_depthccX'
          'pitchlfo_depthchanaft'
          'pitchlfo_depthpolyaft'
          'pitchlfo_freqccX'
          'pitchlfo_freqchanaft'
          'pitchlfo_freqpolyaft'
          # Performance Parameters “Filters”
          'fil_type'
          'filtype'
          'cutoff'
          'cutoff_ccX'
          'cutoff_chanaft'
          'cutoff_polyaft'
          'resonance'
          'fil_keytrack'
          'fil_keycenter'
          'fil_veltrack'
          'fil_random'
          # Performance Parameters “Filter EG” (SFZ 1.0)
          'fileg_delay'
          'fileg_start'
          'fileg_attack'
          'fileg_hold'
          'fileg_decay'
          'fileg_sustain'
          'fileg_release'
          'fileg_depth'
          'fileg_vel2delay'
          'fileg_vel2attack'
          'fileg_vel2hold'
          'fileg_vel2decay'
          'fileg_vel2sustain'
          'fileg_vel2release'
          'fileg_vel2depth'
          # Performance Parameters “Filter LFO” (SFZ 1.0)
          'fillfo_delay'
          'fillfo_fade'
          'fillfo_freq'
          'fillfo_depth'
          'fillfo_depthccX'
          'fillfo_depthchanaft'
          'fillfo_depthpolyaft'
          'fillfo_freqccX'
          'fillfo_freqchanaft'
          'fillfo_freqpolyaft'
          # Performance Parameters “Per-Voice EQ”
          'eq1_freq'
          'eq2_freq'
          'eq3_freq'
          'eq1_freqcc'
          'eq2_freqcc'
          'eq3_freqcc'
          'eq1_vel2freq'
          'eq2_vel2freq'
          'eq3_vel2freq'
          'eq1_bw'
          'eq2_bw'
          'eq3_bw'
          'eq1_bwcc'
          'eq2_bwcc'
          'eq3_bwcc'
          'eq1_gain'
          'eq2_gain'
          'eq3_gain'
          'eq1_gaincc'
          'eq2_gaincc'
          'eq3_gaincc'
          'eq1_vel2gain'
          'eq2_vel2gain'
          'eq3_vel2gain'
          # Effects
          'effect1'
          'effect2'

          ## SFZ 2
          # TODO: http://www.sfzformat.com/index.php?title=Opcode_Types
          # Unfortunately they are spread across multiple pages

          ## ARIA extensions
          # TODO: http://www.sfzformat.com/index.php?title=ARIA_Extensions_Opcodes
        ]
